/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins.wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
 width: 100%;
 height: auto;
 background-color: black;
 overflow-x: hidden;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}    
::-webkit-scrollbar-track {
    background: white;    
}    
::-webkit-scrollbar-thumb {
    background: #b74b4b;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
    background: #b74b4b;
}

/* navbar styling */
nav{
 width: 70%;      
 height: 10vh;
}

.nav-container{
  width: 30%;  
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  color: white;  
  font-size: 2rem;
  font-weight: bold;
}

.logo span{
  color: #b74b4b;  
  text-shadow: 0 0 10px #b74b4b;
}


.nav-container .link{
  display: flex;
}

.nav-container .links a{
  position: relative;
  font-size: 1.2rem;
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 550;
  transition: 0.3s linear;
}

.nav-container .links a::before{
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #b74b4b;
  transition: 0.2s linear;
}
 
.nav-container .links a:hover::before{
  width: 100%;
}

.nav-container .links a:hover{
    color: #b74b4b;
}

.dropdown{
  z-index: 100;  
  position: absolute;
  top: 0;
  transform: translateY(-500px);
  width: 100%;
  height: auto;
  backdrop-filter: blur(4px) brightness(40%);
  box-shadow: 0 0 20px black;
  transition: 0.2s linear;
}

.dropdown .links a{
  display: flex;  
  color: white;
  text-decoration: none;
  justify-content: center;
  padding: 15px;
  align-items: center;
  transition: 0.2s linear;
}

.dropdown .links a:hover{
  background-color: #b74b4b;  
}

section{
 width: 100%;   
 min-height: 85vh;
}

section .main-container{

 display: flex;
 justify-content: space-between;
 padding-left: 80px;
 align-items: center;
}

.main-container .image{
  width: 320px;  
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 50px #b74b4b;
}

.main-container .image img{
  width: 100%;   
}

.main-container .image:hover{
  animation: animate 1.5s ease-in-out infinite;  
}

@keyframes animate {
 0%{
  scale: 1;
 }

 50%{
   scale: 1.5;
 }

 100%{
   scale: 1;
 }
}

.main-container .content{
  color: white;
  width: 35%
}

.content h1{
  font-size: clamp(1rem, 1 rem + 5vw, 1,8rem);
}

.content h1 span{
 color: #b74b4b;
 text-shadow: 0 0 10px #b74b4b;
}

.content .typewriter{
  font-size: clamp(1rem, 1 rem + 5vw, 2.5rem);
  font-weight: 600;
}

.content .typewriter-text{
  color: #b74b4b;
  text-shadow: 0 0 10px #b74b4b;
}

.content p{
  font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
  margin: 10px 0;
}

.social-container {
  margin: 0;
}
.social-container h2 {
  font-size: 2rem;
  color: #b74b4b;
  margin-bottom: 20px;
}
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s, background-color 0.3s;
}

.icon.facebook {
  background: #3b5998;
}

.icon.instagram {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.icon.youtube {
  background: #ff0000;
}

.icon.whatsapp {
  background: #25d366;
}

.icon:hover {
  transform: scale(1.1);
}

.content button{
  width: 50%; 
  height: 6vh;
  margin: 10px;
  background-color: #b74b4b;
  color: white;
  border: none;
  outline: none;
  font-size: 120%;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s linear;
}

.content button:hover{
  scale: 1.1;
  color: #b74b4b;
  border: 2px solid #b74b4b;
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 40px #b74b4b;
}

section .content{
  width: 80%;
  margin: 0px auto;
  font-family: 'Poppins' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
 color: white;
 font-size: 30px;
 font-weight: 600;
 position: relative;
 padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content:'';
  position:absolute;
  height: 3px;
  width: 100%;
  background: #b74b4b;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section .topic{
  color: white;
  font-size: 25px;
  font-weight: 500%;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: white;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #b74b4b;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #b74b4b;
  background-color: white;
  color: #b74b4b;
}
/* Container Styling */
.container {
  text-align: center;
  padding: 20px;
  line-height: 1.6em;
}
/* Title Styling */
.title {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 8px;
}
/* Offerings Grid */
.offerings {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.offering {
  text-align: center;
}
.offering-image {
  width: 200%;
  max-width: 300px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px #b74b4b(0, 0, 0, 0.1);
}
.offering-title {
  margin-top: 2px;
  font-size: 1em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
footer{
  background: #b74b4b;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: white;
}
footer .text span a{
  font-weight: 500;
  color: white;
}
footer .text span a:hover{
  text-decoration: underline;
}
.contact-form {
  max-width: 400px;
  margin: 0 auto ;
  text-align: left;
}
.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #b74b4b;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 4px;
}
.contact-form button {
  width: 100%;
  padding: 10px;
  background: none;
  color: #b74b4b;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
}
.contact-form button:hover {
  background: none;
}

nav {
  background: black;
  display: flex;
  justify-content: right;
  padding: 5px 0;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
}
nav a:hover {
  background: none;
  color: #b74b4b;
  border-radius: 4px;
}
